body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #667eea, #764ba2, #89f7fe);
}

/* Glass Card */
.container {
  width: 380px;
  padding: 25px;
  border-radius: 16px;

  background: rgba(27, 16, 17, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: white;
}

h2 {
  text-align: center;
}

.limit {
  font-size: 14px;
  opacity: 0.9;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  resize: none;
}

#counter {
  margin-top: 8px;
}

.warning {
  color: #ffb3b3;
  font-size: 13px;
}
